@import "compass", "compass/css3", "partial/reset", "partial/normalize","partial/fonts","partial/detail","partial/iphone5";
@import url("bootstrap-theme.min.css");
@import url("bootstrap.min.css");
@import url("noJS.css");
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
body {
  background: #191919;
  color: #fff;
  cursor: auto;
  font-family: "GothamLight","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
}
.page-left {
  cursor: pointer;
  .closeMenu {
    -webkit-backface-visibility: hidden;
    box-shadow: -4px 0 4px rgba(0,0,0,.5),4px 0 4px rgba(0,0,0,.5);
    cursor: pointer;
    -webkit-transition: background 300ms ease;
    transition: background 300ms ease;
    -webkit-tap-highlight-color: transparent;
    background: rgba(255,255,255,.2);
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1002;
  }
}
.page-right {
  @extend .page-left;
}
.page {
  padding: 0;
  background-color: #191919;
  overflow-x: hidden;
  position: relative;
  .header {
    background-color: #191919;
    height: 45px;
    padding: 0;
    .tab-nav {
      position: relative;
      color: #fff;
      background-color: #333;
      height: 45px;
      .left-nav {
        position: absolute;
        top: 0;
        left: 0;
        border-right: solid 1px #191919;
        width: 2.8125rem;
        height: 2.8125rem;
        padding: 0;
        a {
          display: block;
          width: 2.8125rem;
          height: 2.8125rem;
          color: #fff;
          font-size: 1.4rem;
          text-decoration: none;
          padding: 12px;
        }
      }
      .right-nav {
        position: absolute;
        top: 0;
        right: 0;
        border-left: solid 1px #191919;
        width: 2.8125rem;
        height: 2.8125rem;
        padding: 0;
        a {
          display: block;
          width: 2.8125rem;
          height: 2.8125rem;
          color: #fff;
          font-size: 1.4rem;
          text-decoration: none;
          padding: 12px;
        }
      }
      .logo {
        text-align: center;
        height: auto;
        position: absolute;
        top: 8px;
        left: 2.8125rem;
        right: 2.8125rem;
        a {
          font-size: 1.7rem;
          line-height: 2.3125rem;
          color: #fff;
          font-family: "GothamLight","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
          text-decoration: none;
          text-transform: uppercase;
          white-space: nowrap;
          margin: 8px;
        }
      }
    }
  }
  .left-menu,
  .right-menu {
    max-height: 1080px;
  }
  .left-menu {
    background: #000;
    bottom: 0;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    -webkit-transition: -webkit-transform 500ms ease 0s;
    transition: transform 500ms ease 0s;
    width: 15.625rem;
    z-index: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    left: 0;
    ul {
      list-style-type: none;
      margin: 20px 0;
      padding: 0;
      li {
        a {
          text-transform: uppercase;
          border-bottom: none;
          color: rgba(255,255,255,.7);
          display: block;
          padding: 0.66667rem;
          -webkit-transition: background 300ms ease;
          transition: background 300ms ease;
          text-decoration: none;
          &:hover {
            background: #242424;
          }
          &:active {
            background: #242424;
          }
          i {
            margin-right: 5px;
            color: #87230f;
            font-size: 1rem;
          }
        }
      }
    }
  }
  .right-menu {
    background: #333;
    bottom: 0;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    -webkit-transition: -webkit-transform 500ms ease 0s;
    transition: transform 500ms ease 0s;
    width: 15.625rem;
    z-index: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    right: 0;
  }
  .main {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    background-color: #191919;
    font-family: "GothamLight","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #fff;
    padding: 0;
    min-height: 655px;
    .side-bar-home {
      height: 610px;
      padding: 20px;
      p {
        margin: 15px 0 0;
        font-family: "GothamLight","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
        font-size: 1rem;
        line-height: 20px;
      }
    }
    .color-red {
      height: 610px;
      background-color: #b6422b;
      .box-access {
        position: absolute;
        left: 50%;
        width: 225px;
        top: 10%;
        a {
          display: block;
          width: 100%;
          &:hover {
            text-decoration: none;
          }
          &.link {
            font-family: Arial;
            padding: 12px 15px;
            margin: 5px 0;
            transition: all 0.5s ease;
            &.lista {
              background-color: #fff;
              color: #87230f;
              font-size: 1rem;
              text-transform: uppercase;
            }
            &.video {
              background-color: #87230f;
              color: #fff;
              font-size: 1rem;
              text-transform: uppercase;
            }
            &.beone {
              color: #87230f;
              font-size: 1rem;
              border: 2px solid #87230f;
            }
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
      .img-cell {
        position: absolute;
        left: 19%;
        top: 10%;
        z-index: 2;
        width: 251px;
        transition: all 0.5s ease;
        &:hover {
          img {
            width: 100%;
            max-width: 100%;
          }
        }
        &:actived {
          img {
            width: 100%;
            max-width: 100%;
          }
        }
        &.small {
          left: 10%;
          top: 14%;
        }
      }
      .img-video {
        position: absolute;
        left: 42%;
        top: 47.5%;
        width: 340px;
        z-index: 1;
        transition: all 0.5s ease;
        &:hover {
          width: 380px;
          top: 47.5%;
          left: 40%;
        }
        &.actived {
          z-index: 1;
          width: 380px;
          top: 47.5%;
          left: 40%;
        }
      }
    }
    .featured-in {
      display: none;
      background: -webkit-radial-gradient(#414141,#191919)no-repeat border-box;
      background: radial-gradient(#414141,#191919)no-repeat border-box;
      height: 200px;
    }
    .service {
      padding: 0;
      .img-content {
        display: block;
        position: relative;
        h3 {
          font-family: "GothamLight","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
          font-size: 3rem;
          color: #fff;
          width: 100%;
          bottom: 10%;
          position: absolute;
          text-align: center;
          margin: 0;
          z-index: 2;
        }
        .degrade-item {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 7.5rem;
          display: block;
          background: -webkit-linear-gradient(top,transparent 0%,rgba(0,0,0,.8)70%,rgba(0,0,0,.9)100%);
          background: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,.8)70%,rgba(0,0,0,.9)100%);
        }
      }
      a {
        text-decoration: none;
        display: block;
        p {
          font-family: "GothamLight","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
          font-size: 0.9rem;
          color: #fff;
          padding: 30px;
          line-height: 18px;
        }
      }
    }
    .main-container {
      .items {
        padding: 0;
        .degrade-item {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 7.5rem;
          display: block;
          background: -webkit-linear-gradient(top,transparent 0%,rgba(0,0,0,.8)70%,rgba(0,0,0,.9)100%);
          background: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,.8)70%,rgba(0,0,0,.9)100%);
        }
        .thumb {
          display: block;
          max-width: 100%;
          height: auto;
        }
        .title {
          position: absolute;
          font-size: 2.3125rem;
          line-height: 2.3125rem;
          color: #fff;
          z-index: 2;
          bottom: 10px;
          left: 10px;
          font-family: "GothamLight","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
        }
        .indicadores {
          position: absolute;
          bottom: 10px;
          left: 10px;
          z-index: 2;
          font-size: 1.2rem;
          .price {
            font-family: "GothamLight","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
            display: inline-block;
            margin-right: 0.625rem;
            color: #fff;
            i {
              margin-right: 5px;
              color: #ff5c3c;
            }
          }
          .distance {
            @extend .price;
            i {
              margin-right: 5px;
              color: #ff5c3c;
            }
          }
        }
      }
      &.privacidade {
        margin: 20px auto 0;
        max-width: 990px;
        padding: 0 20px;
        h1 {
          text-align: center;
          color: #87230f;
          font-size: 2rem;
          text-transform: uppercase;
        }
        .box-priv {
          max-width: 50%;
          border: 3px solid #87230f;
          padding: 20px;
          margin: 10px auto;
          h2 {
            text-align: center;
            color: #87230f;
            font-size: 1.5rem;
            text-transform: uppercase;
            i {
              margin-right: 5px;
            }
          }
          p {
            line-height: 20px;
          }
        }
        .mais {
          max-width: 50%;
          background-color: #87230f;
          padding: 20px;
          margin: 10px auto;
          a {
            display: block;
            color: #fff;
            text-align: center;
            font-size: 1.2rem;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
        .box-priv-full {
          max-width: 100%;
          padding: 0 20px;
          margin: 10px auto;
          h2 {
            text-align: left;
            color: #87230f;
            font-size: 1rem;
            text-transform: uppercase;
            margin: 10px 0 5px;
          }
          p {
            line-height: 20px;
            margin: 0 0 15px 0;
          }
        }
      }
      &.anuncie {
        margin: 20px auto 0;
        max-width: 990px;
        padding: 0 20px;
        h1 {
          text-align: center;
          color: #87230f;
          font-size: 2rem;
          text-transform: uppercase;
        }
        .box-anuncio{
          max-width: 50%;
          padding: 20px;
          margin: 10px auto;
          p {
            line-height: 20px;
            text-align: center;
            color: #fff;
            font-size: 1rem;
            a {
              color: #87230f;
              font-size: 1rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
/* The starting CSS styles for the enter animation */
.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}
/* The finishing CSS styles for the enter animation */
.ng-enter.ng-enter-active {
  opacity: 1;
}
#loading-bar-container {
  position: fixed;
  margin-left: -60px;
  left: 50%;
  top: 30%;
  z-index: 100;
  .load-text {
    float: left;
    img {
      margin: 0 auto 20px;
      display: block;
      max-width: 20%;
      height: auto;
    }
  }
  .text {
    display: block;
    color: #e30e2e;
    font-size: 1rem;
    font-family: "GothamLight","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
  }
}
.locate {
  display: block;
  max-width: 400px;
  margin: 15% auto 0;
  float: none;
  padding: 0;
  h1 {
    color: #fff;
    font-size: 1rem;
    font-family: GothamLight, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
  }
  .form-locate {
    background-color: #87230f;
    padding: 10px;
    #locate {
      border: none;
      padding: 10px;
      max-width: 275px;
      background-color: #2c2c2c;
    }
    #b-go {
      float: right;
      border: none;
      color: #87230f;
      padding: 10px 40px;
      background-color: #fff;
      font-weight: 700;
    }
    #localizeme {
      z-index: 1;
      border: none;
      padding: 12px 10px 8px;
      max-width: 275px;
      background-color: #2c2c2c;
      position: absolute;
      text-transform: uppercase;
      left: 10px;
      i {
        color: #fff;
        float: right;
        font-size: 14px;
        margin: -3px 0;
      }
    }
    p {
      color: #fff;
      margin: 10px 0 0;
      padding: 10px;
      background-color: #2c2c2c;
      a {
        color: #b6422b;
        text-decoration: none;
        line-height: 18px;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .main {
    .color-red {
      height: 610px;
      background-color: #b6422b;
      .box-access {
        position: absolute;
        left: 50%;
        width: 225px;
        top: 10%;
        a {
          display: block;
          width: 100%;
          &:hover {
            text-decoration: none;
          }
          &.link {
            font-family: Arial;
            padding: 12px 15px;
            margin: 5px 0;
            transition: all 0.5s ease;
            &.lista {
              background-color: #fff;
              color: #87230f;
              font-size: 1rem;
              text-transform: uppercase;
            }
            &.video {
              background-color: #87230f;
              color: #fff;
              font-size: 1rem;
              text-transform: uppercase;
            }
            &.beone {
              color: #87230f;
              font-size: 1rem;
              border: 2px solid #87230f;
            }
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
      .img-cell {
        position: absolute;
        left: 10% !important;
        top: 10%;
        z-index: 2;
        width: 251px;
        transition: all 0.5s ease;
        &:hover {
          img {
            width: 100%;
            max-width: 100%;
          }
        }
        &:actived {
          img {
            width: 100%;
            max-width: 100%;
          }
        }
        &.small {
          left: 10%;
          top: 14%;
        }
      }
      .img-video {
        position: absolute;
        left: 42%;
        top: 47.5%;
        width: 340px;
        z-index: 1;
        transition: all 0.5s ease;
        &:hover {
          width: 380px;
          top: 47.5%;
          left: 40%;
        }
        &.actived {
          z-index: 1;
          width: 380px;
          top: 47.5%;
          left: 40%;
        }
      }
    }
    .main-container {
      &.privacidade {
        margin: 20px auto 0;
        max-width: 990px;
        padding: 0 20px;
        h1 {
          text-align: center;
          color: #87230f;
          font-size: 2rem;
          text-transform: uppercase;
        }
        .box-priv {
          max-width: 100% !important;
          border: 3px solid #87230f;
          padding: 20px;
          margin: 10px auto;
          h2 {
            text-align: center;
            color: #87230f;
            font-size: 1.5rem;
            text-transform: uppercase;
            i {
              margin-right: 5px;
            }
          }
          p {
            line-height: 20px;
          }
        }
        .mais {
          max-width: 100% !important;
          background-color: #87230f;
          padding: 20px;
          margin: 10px auto;
          a {
            display: block;
            color: #fff;
            text-align: center;
            font-size: 1.2rem;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
        .box-priv-full {
          max-width: 100% !important;
          padding: 0 20px;
          margin: 10px auto;
          h2 {
            text-align: left;
            color: #87230f;
            font-size: 1rem;
            text-transform: uppercase;
            margin: 10px 0 5px;
          }
          p {
            line-height: 20px;
            margin: 0 0 15px 0;
          }
        }
      }
      &.anuncie {
        margin: 20px auto 0;
        max-width: 90% !important;
        padding: 0 20px;
        h1 {
          text-align: center;
          color: #87230f;
          font-size: 2rem;
          text-transform: uppercase;
        }
        .box-anuncio{
          max-width: 90% !important;
          padding: 20px;
          margin: 10px auto;
          p {
            line-height: 20px;
            text-align: center;
            color: #fff;
            font-size: 1rem;
            a {
              color: #87230f;
              font-size: 1rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
