@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/GothamLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/GothamLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/GothamLight.woff')  format('woff'), /* Safari, Android, iOS */
        url('../fonts/GothamLight.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/GothamLight.svg#svgFontName') format('svg'); /* Legacy iOS */
}
